* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body {
    background-color: #333;
    color: white;
}

.wrapper {
    height: 100vh;
    width: 100%;

    display: flex;

}

.border {
    width: 10%;
    background-color: #191029;
}

.game-block {
    background-color: rgb(144, 132, 202);
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px black;

    display: grid;
    grid-template-columns: 1fr 20%;
}

.window-part {
    width: 100%;
    height: 100%;
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

.button-part {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-part button {
    font-size: 3rem;
    padding: 25px;
    border-radius: 25px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.363);
    background-color: #34196a;
    color: white;

    transition: all 0.3s ease 0s;
}

.button-part button:hover {
    transform: translateY(10px);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.363);
}

.button-part button:active {
    transform: translateY(15px);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.363);
}

.window {
    position: relative;
    background-color: #24094e;
    background-color: #555;
    height: auto;
    width: 80%;
    border-radius: 10px;
    
    /* overflow: hidden; */
}

.slot1 {
    background: url("../img/Slots1.png");
}

.slot2 {
    background: url("../img/Slots2.png");
}

.slot3 {
    background: url("../img/Slots3.png");
}

.slot {
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.699);
    border-radius: 10px;
    overflow: hidden;

    transition: all 8s cubic-bezier(0.3, 0.2, 0.2, 1.4) 0s;
}

.glassE {
    position: absolute;
    background: rgba(255, 255, 255, 0.192);

    width: 5%;
    height: 200%;
    transform: rotateZ(45deg);
    top: -50%;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.568);

    z-index: 2;
    transition: all 1s ease;
}

.lamp {
    width: 30%;
    height: 30%;
    position: absolute;
    background-color: transparent;
    border: 1px solid black;
    top: -60%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    z-index: 4;

    transition: all 1s ease 0s;
}

.window:hover .glassE{
    background: rgba(255, 255, 255, 0.4);
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.58);
    transition: all 1s ease;
}

@media (max-width: 1000px) {
    .button-part button {
        font-size: 1rem;
    }
}

@media (max-width: 550px) {
    .button-part button {
        font-size: 0.8rem;
        padding: 10px;
    }
}