* {
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(40, 8, 56);
    color: rgb(40, 8, 56);
}

.wrapper {
    height: 100%;
    width: 100vw;
    display: grid;
    grid-template-rows: 100px 1fr;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.cards-settings {
    position: relative;
    background-color: transparent;
    color: white;

    border-radius: 25px;
    padding: 10px;
    display: flex;
    font-size: 1.5rem;
    /* width: 350px; */
    width: 50%;
    margin: 0 auto;
}

.cards-settings label {
    background-color: transparent;
    font-size: 0.7rem;
    position: absolute;
    top: 8px;
    left: 15px;
    z-index: 4;
    padding: 5px;

    transition: all 0.2s ease 0s;
}

.difficultId {
    position: relative;
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #e7e7e7;
    border-radius: 25px;
    outline: none;
    -webkit-transition: all .2s;
    transition: all ease .2s;
    opacity: .5;
    z-index: 3;
}

.difficultId::before {
    content: "";
    position: absolute;
    /* background-color: rgba(255, 255, 255, 0.2); */
    top: -55%;
    left: -5%;
    width: 110%;
    height: 205%;

    border-radius: 25px;
    outline: 5px rgb(255, 145, 0) solid;
    z-index: 2;
}

.difficultId:hover {
    opacity: 0.9;
}

.difficultId:hover + .diff-text {
    background-color: #280838;
    /* border-radius: 20px; */
    /* top: -22px; */
    /* left: -100%; */
    font-size: 1.5rem;
    left: -100%;
    top: -5%;
    z-index: 20;
}

.difficultId::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: #a682fc;
    cursor: pointer;
}

.difficultId::-moz-range-thumb {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: #04AA6D;
    cursor: pointer;
}

#slider {
    width: 50vw;
    height: 400px;
    margin: auto;
    position: relative;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 15px;

    background-color: #dfdfdf;
    color: black;
}
  
.slide {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.slide::marker {
    content: none;
}
  
.slide:first-child {
    display: block;
}

.slide-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-wrap: wrap;
    font-size: 2rem;
}

.navigator-container {
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.568);
    background-color: #b1673d;
}

.pager {
    font-weight: 900;
    /* color: #a1a1a1; */
    color: #ffc6a5;
    text-align: center;
}

.arrows a {
    position: absolute;
    text-decoration: none;
    /* color: rgba(255, 255, 255, 0.753); */
    color: #ffc6a5;
    left: 15px;
    font-weight: 400;
    line-height: 1;
    font-size: 42px;
    height: fit-content;
    top: 50%;
    transform: translateY(-50%);

    transition: all 0.3s ease 0s;
}

.arrows a:last-child {
    right: 15px;
    left: auto;
}

.arrows a:hover {
    color: #fff;
}

.arrows a.next {
    left: initial;
    right: 15px;    
}

.answer-block {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    background-color: #c26c10;
    margin: 5px;
    margin-top: 10px;
    left: 50%;
    transform: translateX(-50%);

    gap: 5px;
    border-radius: 15px;
}

.answer-block input {
    font-size: 1rem;
    border-radius: 15px;
    border: 0;
    background-color: rgba(0, 0, 0, 0.247);
    color: white;
    text-align: center;
}

.statistic {
    color: white;
}

.line-border {
    position: absolute;
    width: 100%;
    height: 3%;
    /* background: rgb(251,255,94);
    background: linear-gradient(90deg, rgba(251,255,94,1) 27%, rgba(9,9,121,1) 27%, rgba(9,9,121,1) 100%); */
    background: rgb(191,94,255);
    background: linear-gradient(90deg, rgba(191,94,255,1) 27%, rgba(56,11,78,1) 27%, rgba(73,9,121,1) 29%, rgba(121,67,9,1) 100%);
    bottom: 0;
}

@media (max-width: 750px) {
    * {
        font-size: 1rem !important;
    }
}