html * {
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: #333;
    color: white;

    margin: 0;
    padding: 0;
}

.wrapper {
    height: 100vh;
    width: 100%;
    opacity: 0;

    transition: all 3s ease;
}

.img-sphere {
    border-radius: 20%;
    background-image: url("../img/a-close-up-of-a-sphere-with-a-blue-and-purple-swirl-generative-ai_900396-60646.webp");
    width: 100%;
    height: 650px;
    background-position: 0 50px;

    transition: all 1s ease;
}

.answer {
    position: absolute;
    background-color: rgba(85, 85, 85, 0.6);
    padding: 10px;
    font-size: 2rem;
    border-radius: 15px;

    left: 50%;
    top: 50%;
    transform: translateX(-50%);

    transition: all 3s ease;
    opacity: 0;
}

.text-ask {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    top: 50px;
    right: 0;
    text-align: center;

    width: 50%;
    padding: 5px;
    border-radius: 25px;
    font-size: 2rem;
    background-color: rgba(255, 255, 255, 0.75);
    color: #333;
    border: 0;
}

.content {
    display: block;
    position: relative;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    width: 670px;

    padding: 15px;
}

.press-start {
    transition: all ease 0.3s;
}

.press-start:hover {
    box-shadow: 0 0 10px black;
    color: rgb(201, 201, 201);
}

.press-start::after {
    content:'';
    position: absolute;
    z-index: -1;
    top: .5em;
    left: .41em;
    width: 41rem;
    height: 41.4rem;
    border-radius: 20%;
    background-image: linear-gradient(45deg,#f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    background-size: 200%;
    animation: animateborder 3s ease infinite;
}

@keyframes animateborder {
    0% {
        background-position: 0%;
    }
    50% {
        background-position: 100%;
    }
    100% {
        background-position: 0%;
    }
}